version: '3.3'

services:
  frontend:
    container_name: fintech-front-end
    build:
      context: ./front-end
      dockerfile: dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - REACT_APP_API_URL=http://140.115.54.36:5000/api
    depends_on:
      - backend
    networks:
      - nginx_proxy
      - app-network

  backend:
    container_name: fintech-back-end
    build:
      context: ./back-end
      dockerfile: dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
    volumes:
      - ./back-end:/app
    networks:
      - nginx_proxy
      - app-network

# 定義網路
networks:
  nginx_proxy:
    external: true
  app-network:
    internal: true